.counter{
    &__container{
        width: 103px;
        height: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 47px;
        background: #4C73E3;
        padding: 5px 9px 5px 10px;
    }
    &__btn{
        background-color: transparent;
        border: none;
        color: #FFF;
        font-family: Inter;
        font-size: 24.443px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        cursor: pointer;
    }

    &__duration{
        color: #FFF;
        font-family: Inter;
        font-size: 18.2px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}
