.form {
    &__container{
        max-width: 850px;
        margin-left: 110px;
        padding-top: 40px;
    }
    &__title {
        color: #4C73E3;
        font-family: Open Sans Hebrew;
        font-size: 35px;
        font-weight: 800;
        line-height: normal;
    }
    &__where {
        margin-top: 30px;
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        &-from{
            width: 390px;
            height: 254px;
            padding: 20px;
            border-radius: 21px;
            border: 1px solid #4C73E3;
            background: #FFF;
        }
        &-to{
            width: 390px;
            height: 254px;
            padding: 20px;
            border-radius: 21px;
            border: 1px solid #4C73E3;
            background: #FFF;
        }
    }

    &__subtitle{
        color: #262D38;
        font-family: Open Sans Hebrew;
        font-size: 24px;
        font-weight: 800;
        line-height: normal;
    }
    &__container__input{
        width: 350px;
        height: 52px;
        margin-top: 16px;
        padding: 8px 10px 8px 20px;
        border-radius: 16px;
        border: 1px solid #DEE4F0;
        display: flex;
        flex-direction: column;
    }
    &__label{
        color: #4F4F55;
        font-family: Inter;
        font-size: 12px;
        font-weight: 600;
        line-height: normal;
        &__duration{
            color: #787978;
            font-family: Inter;
            font-size: 16px;
            font-weight: 300;
            line-height: normal;
            margin-right: 20px;
        }
    }
    &__input{
        height: 20px;
        border: none;
        font-size: 16px;
    }
    &__container__timer{
        margin-top: 16px;
        padding-left: 20px;
        display: flex;
        align-items: center;
    }
    &__container__duration{
        width: 103px;
        height: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 47px;
        background: #4C73E3;
        padding: 5px 9px 5px 10px;
    }
    &__btnMinus{
        background-color: transparent;
        border: none;
        color: #FFF;
        font-family: Inter;
        font-size: 24.443px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        cursor: pointer;
    }
    &__time__duration {
        color: #FFF;
        font-family: Inter;
        font-size: 18.2px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__transport{
        margin-top: 20px;
        width: 802px;
        height: 317px;
        padding: 20px;
        border-radius: 21px;
        border: 1px solid #4C73E3;
        background: #FFF;
        display: flex;
        justify-content: space-between;
        align-items:flex-start;
    }
    &__switchs{
        width: 350.5px;
        height: 231px;
        padding: 16px 18px;
        border-radius: 21px;
        border: 1px solid #DEE4F0;
        background: #FFF;
        margin-top: 13px;
        &__container {
            margin-top: 16px;
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }
    &__select {
        width: 334px;
        height: 52px;
        padding: 16px 0px 16px 16px;
        border-radius: 16px;
        border: 1px solid #DEE4F0;
        background: #FFF;
        color: #787978;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        &__options {
            margin-top: 10px;
            color: #787978;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
        &__container{
            width: 362px;
            margin-top: 41px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
    &__btn__add {
        margin-top: 15px;
        width: 248px;
        height: 52px;
        padding: 17.5px 18px 16.5px 18px;
        border-radius: 16px;
        border: 1px solid #4C73E3;
        color: #4C73E3;
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        background-color: #FFF;
        cursor: pointer;
        transition: all 0.4s;
    }
    &__btn__add:hover {
        border: 1px solid #88A7FF;
        color: #88A7FF;
    }
    &__contacts{
        margin-top: 20px;
        width: 802px;
        height: 242px;
        border-radius: 21px;
        border: 1px solid #4C73E3;
        background: #FFF;
        padding: 20px;

        &__container {
            display: flex;
            justify-content: space-between;
            column-gap: 60px;
            align-items: center;
            flex-wrap: wrap;
        }
    }
    &__checkbox__container {
        margin-top: 16px;
        display: flex;
        align-items: center;
    }
    &__checkbox__label {
        color: #4F4F55;
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        padding-left: 10px;
    }
    &__checkbox {
        appearance: none; 
        width: 20px; 
        height: 20px; 
        border: 1px solid #4C73E3; 
        border-radius: 5px;
        cursor: pointer; 
        transition: box-shadow 0.3s;
        position: relative;
    }
    &__checkbox:hover {
        box-shadow: 0px 0px 3px 1px rgba(53, 165, 0, 0.70);
    }
    &__checkbox:checked::before {
        content: '\2713';
        font-size: 16px;
        color: white; 
        position: absolute;
        top: -2px;
        left: 4px;
      }
    &__checkbox:checked{
        background-color: #4C73E3;
    }
    &__btn__container{
        margin-top: 40px;
        width: 516px;
        display: flex;
        justify-content: center;
        column-gap: 20px;
        margin-bottom: 41px;
    }
    &__btn__submit{
        width: 248px;
        height: 52px;
        padding: 17.5px 82.5px 16.5px 82.5px;
        border-radius: 26px;
        border: 1px solid #4C73E3;
        background: #4C73E3;
        color: #FFF;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s;
    }
    &__btn__submit:hover{
        border: 1px solid #88A7FF;
        background: #88A7FF;
    }
    &__btn__reset{
        width: 248px;
        height: 52px;
        padding: 17.5px 0px 16.5px 0px;
        border-radius: 26px;
        border: 1px solid #4C73E3;
        color: #4C73E3;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        transition: all 0.3s;
        background-color: #FFF;
        cursor: pointer;
    }
    &__btn__reset:hover{
        border: 1px solid #88A7FF;
        color: #88A7FF;
    }

}